* {
  box-sizing: border-box; }

.wrapper {
  width: 960px;
  margin: 0 auto; }

.mainNav {
  width: 100%;
  background-color: #F5F5F5;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 20px; }
  .mainNav .navWrapper {
    position: relative;
    width: 980px;
    margin: 0 auto;
    padding-top: 7px;
    padding-bottom: 7px; }
  .mainNav .logo {
    display: inline-block; }
  .mainNav .searchBar {
    display: inline-block;
    width: 350px;
    vertical-align: top;
    margin-top: 2px;
    margin-left: 5px; }
    .mainNav .searchBar input {
      width: 100%;
      border: 1px solid #e5e5e5;
      border-radius: 3px;
      padding: 5px; }
      .mainNav .searchBar input::-webkit-input-placeholder {
        font-size: .8em;
        line-height: 1.5; }
  .mainNav .links {
    display: inline-block;
    list-style-type: none;
    padding: 0;
    margin: 0;
    vertical-align: top;
    margin-top: 7px; }
    .mainNav .links a {
      text-decoration: none;
      font-size: 13px;
      color: black;
      font-weight: bold; }
      .mainNav .links a:hover {
        color: #4078c0; }
      .mainNav .links a li {
        display: inline-block;
        margin-left: 10px; }
  .mainNav .subNav {
    position: absolute;
    right: 10px;
    top: 15px;
    display: inline-block;
    list-style-type: none;
    padding: 0;
    margin: 0; }
    .mainNav .subNav a {
      position: relative;
      color: black; }
      .mainNav .subNav a:hover {
        color: #4078c0; }
      .mainNav .subNav a:nth-child(3) li i.fa-sort-down {
        left: 42px; }
      .mainNav .subNav a li {
        display: inline-block;
        margin-left: 20px; }
        .mainNav .subNav a li i.fa-sort-down {
          position: absolute;
          left: 34px;
          top: -2px; }
        .mainNav .subNav a li img {
          width: 20px;
          height: auto;
          vertical-align: bottom; }

.sidebar {
  width: 26%;
  display: inline-block; }

.about .avatar {
  width: 230px;
  height: 230px; }
  .about .avatar img {
    width: 100%;
    height: 100%; }

.main {
  display: inline-block;
  width: 73%;
  vertical-align: top; }

.mainTabs {
  display: block;
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
  color: #666;
  margin-bottom: -1px; }
  .mainTabs ul {
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none; }
    .mainTabs ul li {
      display: inline-block;
      font-size: 14px;
      padding: 8px 12px;
      padding-bottom: 15px; }
      .mainTabs ul li:hover {
        cursor: pointer; }
      .mainTabs ul li:nth-child(4) {
        font-size: 13px;
        font-weight: bold;
        color: #333;
        margin-left: 28%;
        border-radius: 5px;
        border: 1px solid #e5e5e5;
        background-color: #eee;
        padding: 5px 10px; }

li.active {
  position: relative;
  box-sizing: inherit;
  color: #333;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  border: 1px solid #e5e5e5;
  border-bottom: 1px solid transparent; }
  li.active::after {
    content: '';
    height: 1px;
    width: 100%;
    background-color: #fff;
    position: absolute;
    bottom: -2px;
    left: 0; }

section {
  display: none; }

.show {
  display: block; }

header {
  padding: 15px 0;
  border-bottom: 1px solid #e5e5e5; }
  header input[type="text"] {
    width: 260px;
    min-height: 34px;
    padding: 7px 8px;
    font-size: 13px;
    color: #333;
    vertical-align: middle;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right 8px center;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075); }
  header input[type="submit"] {
    position: relative;
    display: inline-block;
    padding: 6px 12px;
    font-size: 13px;
    font-weight: bold;
    line-height: 20px;
    color: #333;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-color: #eee;
    background-image: -webkit-linear-gradient(#fcfcfc, #eee);
    background-image: linear-gradient(#fcfcfc, #eee);
    border: 1px solid #d5d5d5;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none; }
  header ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0; }
    header ul a {
      color: #4078c0;
      text-decoration: none;
      font-size: 14px; }
      header ul a.selected {
        font-weight: bold;
        color: #000; }
      header ul a li {
        display: inline-block;
        margin-left: 6px; }
  header div.newButton {
    display: inline-block;
    background-image: -webkit-linear-gradient(#8add6d, #60b044);
    background-image: -o-linear-gradient(#8add6d, #60b044);
    background-image: linear-gradient(#8add6d, #60b044);
    background-color: #60b044;
    border-color: #5ca941;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    padding: 6px 12px;
    font-size: 13px;
    font-weight: bold;
    line-height: 20px;
    vertical-align: middle;
    border: 1px solid #d5d5d5; }
    header div.newButton:hover {
      cursor: pointer;
      background-image: linear-gradient(#79d858, #569e3d); }

.repoContainer {
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;
  list-style: none;
  border-bottom: 1px solid #e5e5e5; }

.repoHeader {
  display: block;
  position: relative; }
  .repoHeader a {
    text-decoration: none;
    color: #4078c0; }
    .repoHeader a:hover h3 {
      text-decoration: underline; }
    .repoHeader a:nth-of-type(2), .repoHeader a:nth-of-type(3) {
      position: absolute;
      top: 5px;
      right: 0;
      display: inline-block;
      color: #888;
      font-size: 12px;
      font-weight: bold; }
      .repoHeader a:nth-of-type(2):hover, .repoHeader a:nth-of-type(3):hover {
        color: #4078c0; }
    .repoHeader a:nth-of-type(2) {
      right: 30px; }
    .repoHeader a h3 {
      display: inline-block;
      margin: 0 0 8px;
      margin-right: 69%;
      font-size: 20px;
      line-height: 1.2; }
  .repoHeader .repoLang {
    position: absolute;
    top: 5px;
    right: 62px;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    color: #888; }

.repoContainer .repoDescription {
  max-width: 550px;
  margin-top: 8px;
  margin-bottom: 0;
  font-size: 14px;
  color: #666; }

.repoContainer .repoUpdate {
  display: block;
  margin-top: 8px;
  margin-bottom: 0;
  font-size: 13px;
  color: #888; }
